.app{
  position: relative;
  display: block;
  margin: 10px;
  
}

.header{
  float: left;
  margin-bottom: 10px;
}


.trayContainer{
  float: left;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
}
.trayGrid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-gap: 0;
  margin-left: auto;
  margin-right: auto;
  
  
}

.trayShadow{
  height: 100%;
  background: radial-gradient(transparent 50%, rgba(255,255,255,0.5) 65%,#fff 71%);
  width: 100%;
  float: left;
  position: absolute;
  z-index: 99999;
  pointer-events: none;
  display: none;
}

.trayModeGradient .trayShadow{
  display: block;
}

.trayModeOpacity .tray{
  opacity: 0.5;
}

.tray{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  
  border: solid 1px #f00;
  
  background: url(./kaya.jpg);
  
  &.trayNO{
    border-bottom: 0;
    border-right: 0;
  }
  &.trayN{
    border-bottom: 0;
  }
  &.trayNE{
    border-bottom: 0;
    border-left: 0;
  }

  &.trayO{
    border-right: 0;
  }
  &.trayM{
    opacity: 1 !important;
  }
  &.trayE{
    border-left: 0;
  }

  &.traySO{
    border-top: 0;
    border-right: 0;
  }
  &.trayS{
    border-top: 0;
  }
  &.traySE{
    border-top: 0;
    border-left: 0;
  }
  
}
